PRIVATE_KEY=
XLAYER_CHAIN_ID=1952
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
XLAYER_RPC_URL=https://rpc.xlayer.tech
PROJECT_TREASURY=
PROTOCOL_TREASURY=
INITIAL_RESERVE_USDC=10000
MIN_PRINCIPAL_USDC=10
MAX_PRINCIPAL_PER_ORDER_USDC=200
MAX_PRINCIPAL_PER_USER_WINDOW_USDC=300
BASE_PREMIUM_BPS=300
REFUND_FEE_BPS=500
PAYOUT_BPS=9500
MAX_EXPOSURE_BPS=5000
USER_WINDOW_SECONDS=86400
PROTECTION_SECONDS=86400
V4_POOL_MANAGER_ADDRESS=
REFUND_PROTECTION_CORE_ADDRESS=
REFUND_INSURANCE_VAULT_ADDRESS=
MOCK_USDC_ADDRESS=
MOCK_TOKEN_ADDRESS=
CREATE2_DEPLOYER=0x4e59b44847b379578588920cA78FbF26c0B4956C
CREATE2_SALT=
V4_HOOK_ADDRESS=
V4_DEMO_HELPER_ADDRESS=
POOL_TOKEN_A=
POOL_TOKEN_B=
POOL_FEE=3000
POOL_TICK_SPACING=60
SQRT_PRICE_X96=79228162514264337593543950336
DEMO_LIQUIDITY_STABLE=2
DEMO_LIQUIDITY_TOKEN=2
DEMO_LIQUIDITY_DELTA=1000000000000
PROTECTED_SWAP_STABLE=1
DEMO_PREMIUM_HEADROOM_STABLE=1
DEMO_CLOSE_MODE=refund
