PRIVATE_KEY=
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
XLAYER_RPC_URL=https://rpc.xlayer.tech
PROJECT_TREASURY=
PROTOCOL_TREASURY=
INITIAL_RESERVE_USDC=10000
MIN_PRINCIPAL_USDC=10
MAX_PRINCIPAL_PER_ORDER_USDC=200
MAX_PRINCIPAL_PER_USER_WINDOW_USDC=300
BASE_PREMIUM_BPS=300
REFUND_FEE_BPS=500
PAYOUT_BPS=9500
MAX_EXPOSURE_BPS=5000
USER_WINDOW_SECONDS=86400
PROTECTION_SECONDS=86400
V4_POOL_MANAGER_ADDRESS=
REFUND_PROTECTION_CORE_ADDRESS=
CREATE2_DEPLOYER=0x4e59b44847b379578588920cA78FbF26c0B4956C
